if options.tags
  .tags
    h3.center#tags Genre
      - for(let tag of options.tags)
        button.text3(type="button" class=tag.class id="tag" onClick="setOptionsTag({'tagId':" + tag.tagId + "})")
          p #{tag.tagName} 


if options.ccNum && options.custCols
  .tags
    h3.center#tags=(options.ccNum == 6) ? "Sachbuch" : "Reiseführer"
      - for(let col of options.custCols)
        button.text3(type="button" class=col.class id="cc5" name="cc" value="5" onClick="setOptionsCC({'ccNum': " + options.ccNum + ", 'ccId': " + col.id + "})")
          p #{col.value} 


if options.stats
  table.info
    tr 
      td(style="width: 50%")
        h1.info Bücher
        h1.info #{options.stats.books}
        h1.info
          i.fa-solid.fa-book(style="font-size: 30px")

      td(style="width: 50%")
        h1.info Serien 
        h1.info #{options.stats.series}
        h1.info
            span 
              i.fa-solid.fa-book(style="font-size: 20px")  
            span 
              i.fa-solid.fa-book(style="font-size: 20px")  
            span 
              i.fa-solid.fa-book(style="font-size: 20px") 
    tr 
      td
        h1.info Autoren 
        h1.info #{options.stats.authors}
        h1.info
          i.fa-solid.fa-people-group(style="font-size: 30px")
      td
        h1.info Verlage
        h1.info #{options.stats.publishers}
        h1.info
          i.fa-regular.fa-building(style="font-size: 20px")
          i.fa-regular.fa-building(style="font-size: 30px")
          i.fa-regular.fa-building(style="font-size: 20px")


  table.info
    tr 
      td(style="width: 50%")
        h3.info Datenbank
      td
        h3.info
          button.text3(onclick="connectDb(true)" style="padding: 3px 0px; margin: 7px 0px") Verbindung herstellen
        h3.info
          button.text3(onclick="connectDb(false)" style="padding: 3px 0px; margin: 7px 0px") Verbindung abbrechen

    tr 
      td(style="width: 50%; text-align:center")
        h3.info Log-Ausgabe auf: 
        
        div(style="width: 120px; margin-left:auto; margin-right:auto")
          h3.info.left(style="margin-bottom: 0px")
            input(type="checkbox" id="logToConsole" value="Console" checked=options.logger.consoleOn onClick="setLogConTransport()")
            label(for="logToConsole") Console

        div(style="width: 120px; margin-left:auto; margin-right:auto")
          h3.info.left(style="margin-top: 0px")
              input(type="checkbox" id="logToFile" value="Datei" checked=options.logger.fileOn  onClick="setLogFilTransport()")
              label(for="logToFile") Datei
                

      td(style="width: 50%; text-align:center")
        h3.info Log-Level: 
        h3.info#loglevel-value #{options.logger.level}

        select.info(id="loglevel" size="1" onchange="setLogLevel()")
          option(selected="selected" value="0") -ändern-
          - for(let loglevel of options.logger.levels)
            option #{loglevel}
         
    tr
      td(colspan=2)
        h3.info #{appInfo.version}
        h3.info #{appInfo.author}
