.bookview 

  div.bookcontainer

    if book.serie
      div.bookhead
        button.text(onclick="setOptionsSerie({serieId: " + book.serie.seriesId + "})")
          h6(style="padding: 5px;")
            span.akzent Serie: 
            span #{book.serie.seriesName}, 
            span=(book.tags[0].tagName === "Zeitschrift") ? "Nr. " : "Band " 
            span #{book.seriesIndex}
      
    div.book

      div.bookcolumn

        div.bookbox

          img#bookcover(src="/app/cover/book/" + book.bookId + book.signature)
          
          p(style="margin-bottom: 12px")
            - for(let author of book.authors)
              button.text3(onclick="setOptionsAuthor({authorsId: " + author.authorsId + "});")
                span #{author.authorsName} 
                  
          p.akzent #{book.title} 
            button.text5(onclick="sendMail('" + book.authors.map(a => a.authorsName).toString() + "', '" + book.title + "', " + book.bookId + ", '" + book.tags[0].tagName + "')")
              i.fa.fa-envelope(aria-hidden="true")
            p
              - for(let format of book.formats)
                    a.action(name="download" href="/app/file/" + format + "/" + book.bookId + book.signature  download=book.title)
                      i.fa.fa-download(aria-hidden="true"  style="margin-top: 30px")=" " + format.toUpperCase()

            if !book.comment
              h3(style="margin-top:30px")
                if book.publisher
                  span #{book.publisher.name}
                if book.pubdate
                  span=" (" + book.pubdate.substr(0,4) + ")"

      if book.comment
        div.columnspace

        div.bookcolumn
          div
            h4(style="margin-top: 0px") Inhalt
            p !{book.comment} 
            h3.center
              if book.publisher
                span #{book.publisher.name}
              if book.pubdate
                span=" (" + book.pubdate.substr(0,4) + ")"

  h3.footer
    div.tag
      - for(let tag of book.tags)
        span.enum #{tag.tagName}
          if tag.subTags
            span : 
              - for(let sub of tag.subTags)
                span.enum #{sub}

    if (prevBook)
      button.text3(id="prev_book" type="text" onclick="setOptionsBook({bookId: " + prevBook.bookId + ", num: " + prevBook.num + "});")
        div.chevrons(style="opacity: 0.6; position: fixed; left: 10px; top: 40%")
          i.fa.fa-chevron-left(style="font-size: 60px" aria-hidden="true")

    if (nextBook)
      button.text3(id="next_book" type="text" onclick="setOptionsBook({bookId: " + nextBook.bookId + ", num: " + nextBook.num + "});")
        div.chevrons(style="opacity: 0.6; position: fixed; right: 10px; top: 40%")
          i.fa.fa-chevron-right(style="font-size: 60px" aria-hidden="true")



