- for(let book of books)

  .item(id=book.bookId)
    .itemgrid
      table.container
        tr
          td.serie
            if book.serie
              button.textbox(onclick="setOptionsSerie({ serieId: " + book.serie.seriesId + "})")
                p.serie.ellipsis(title=book.serie.seriesName + "[" + book.seriesIndex + "]") #{book.serie.seriesName}
                p=(book.tags[0] === "Zeitschrift") ? "Nr. " : "Band "
                  span #{book.seriesIndex}
        tr
          td.img
            img.itemcover(src="/app/cover/list/" + book.bookId + book.signature
              onclick="dis(this); setOptionsBook({bookId: " + book.bookId + "});")
            .containerbox
              if (book.formats)
                - for(let format of book.formats)
                  div(style="margin-bottom: -80px")
                    a.action(href="/app/file/" + format + "/" + book.bookId + book.signature download=book.title)
                        i.fa.fa-download(aria-hidden="true")=" " + format.toUpperCase()
        if (book.tags && book.tags[0] != "Zeitschrift")   
          tr
            td.center
              p
                - for(let author of book.authors)
                  span.enum
                    button.text.color04(style="margin-bottom:0px;"
                      onclick="setOptionsAuthor({authorsId: " + author.authorsId + "})" 
                    )= author.authorsName
        tr
          td.center
            button.text(onclick="setOptionsBook({bookId: " + book.bookId + "});") #{book.title}

if pageNav && pageNav.currentpage !== pageNav.lastpage
  #pagedown(value=pageNav.nextpage onClick="setOptionsPage(" + pageNav.nextpage + ")" style="display: none")
    i.fa.fa-caret-down(aria-hidden="true" style="font-size: 60px") 
