if options.tags
  .tags
    h3.center#tags.color04 Genre
      - for(let tag of options.tags)
        button.text3(type="button" class=tag.class id="tag" onClick="setOptionsTag({'tagId':" + tag.tagId + "})")
          p #{tag.tagName} 


if options.ccNum && options.custCols
  .tags
    h3.color04.center#tags=(options.ccNum == 6) ? "Sachbuch" : "Reiseführer"
      - for(let col of options.custCols)
        button.text3(type="button" class=col.class id="cc5" name="cc" value="5" onClick="setOptionsCC({'ccNum': " + options.ccNum + ", 'ccId': " + col.id + "})")
          p #{col.value} 


if options.stats
  table.info
    tr 
      td Bücher, Zeitschriften
          i.fa-solid.fa-book.pointer(style="margin-left: 10px;font-size: 30px" onclick="showTagsStats()")
      td.center
        span #{options.stats.books}
    tr
      td Serien 
        span.pointer(style="margin-left: 10px" onclick="showSeriesStats()")
          i.fa-solid.fa-book(style="font-size: 20px")  
          i.fa-solid.fa-book(style="font-size: 20px")  
          i.fa-solid.fa-book(style="font-size: 20px")
      td.center #{options.stats.series}
    tr 
      td Autoren 
        i.fa-solid.fa-people-group.pointer(style="margin-left: 10px;font-size: 30px" onclick="showAuthorsStats()")
      td.center #{options.stats.authors}
    tr
      td Verlage 
          span.pointer(style="margin-left: 10px" onclick="showPublisherStats()")
            i.fa-regular.fa-building(style="font-size: 20px")
            i.fa-regular.fa-building(style="font-size: 30px")
            i.fa-regular.fa-building(style="font-size: 20px")
      td.center #{options.stats.publishers}


  #info_popup(style="display: none")

  table.info
    tr 
      td(style="min-width: 160px") Datenbank
      td
        button.background03.text6(style="max-width: 200px" onclick="connectDb(true)") Verbindung herstellen
        button.text6.border03(style="max-width: 200px" onclick="connectDb(false)") Verbindung abbrechen

    tr
      td
        span Log-Ausgabe auf: 
      td        
        div(style="width: 120px; margin-left:auto; margin-right:auto")
          .left.color01(style="margin-bottom: 0px")
            input(type="checkbox" id="logToConsole" value="Console" checked=options.logger.consoleOn onClick="setLogConTransport()")
            label(for="logToConsole") Console

        div(style="width: 120px; margin-left:auto; margin-right:auto")
          .left.color1(style="margin-top: 0px")
              input(type="checkbox" id="logToFile" value="Datei" checked=options.logger.fileOn  onClick="setLogFilTransport()")
              label(for="logToFile") Datei
                
    tr
      td Log-Level: 
      td 
        
        .background03
          span Aktueller Wert: 
          span#loglevel-value #{options.logger.level}

        select(id="loglevel" size="1" onchange="setLogLevel()")
          option(selected="selected" value="0") -ändern-
          - for(let loglevel of options.logger.levels)
            option #{loglevel}
         
    tr
      td(colspan=2)
        span=`${appInfo.version}, ${appInfo.author}, `
        span#info_url

