
table.popup#info_popup
  tr 
    th=popup.head_name
    th=popup.head_count

  - for(let item of popup.content)
    tr.pointer(onClick="setOptionsHub('" + popup.type + "', " + item.id + ")")
      td(style="text-align: left")=`${item.num}. ${item.name}`
      td=item.count