
table.popup#info_popup
  tr 
    th 
      h3= popup.head_name
    th 
      h3= popup.head_count

  - for(let item of popup.content)
    tr.pointer(onClick="setOptionsHub('" + popup.type + "', " + item.id + ")")
      td(style="text-align: left")
        h3 #{item.num}. #{item.name}
      td 
        h3= item.count