
table.popup#stats_popup
  tr 
    th(style="width: 70%")=popup.head_name
    th(style="width: 30%")=popup.head_count

  - for(let item of popup.content)
    tr.pointer(onClick="setOptionsHub('" + popup.type + "', " + item.id + ")")
      td(style="text-align: left")=`${item.num}. ${item.name}`
      td=item.count